.mf-button-preview {
  cursor: pointer;
  background: inherit;
  border: 1px solid #3085d6;
  border-radius: 3px;
  color: #3085d6;

  /* Center */
  display: block;
  margin-right: auto;
  margin-left: auto;

  padding: 15px 15px;
  white-space: nowrap;
  transition: background-color 0.2s ease-out;

  &:hover {
    color: white;
    background: #3085d6;
  }

  &::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #3085d6;;
    display: inline-block;
    margin-right: 10px;
    transition: all 0.3s ease;
  }

  &:hover::before {
    border-left: 10px solid white;
  }
}
