html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  overflow-x: hidden;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  margin: 0;
}

img {
  display: inline-block;
  vertical-align: top;
}

code {
  font-size: 1em;
}

h1 code,
h2 code,
h3 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: inherit;
}

